*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9CC9D;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 800px;
    height: auto;
    margin: 100px auto;
    border: 15px solid #fff;
    outline: 40px groove #CE480A;
}
.topLeft{
     border: 10px solid green;
     float: left;
}
.topMiddle, .bottomMiddle{
    float: left;
}
.topRight{
     border: 10px solid #B9201B;
     float: left;
}
.bottomLeft{
    border: 10px solid #e8a35a;
    float: left;
}
.bottomRight{
    border: 10px solid #193A8F;
    float: left;
}

.left, .right{
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
   
}
.smallCircle1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}
.smallCircle2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}
.smallCircle3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.smallCircle4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.middle{
    width: 160px;
    height: 320px;
}
.middleSection{
    width: 100%;
    height: 160px;
}
.innerbox{
    border-radius: 50%;
    height: 260px;
    margin: auto;
    width: 260px;
    position: relative;
}
.innerboxGreen{
    background: url("images/bgGreen.jpg") repeat;
}
.innerboxRed{
    background: url("images/bgRed.jpg") repeat;
}
.innerboxYellow{
    background: url("images/bgYellow.jpg") repeat;
}
.innerboxBlue{
    background: url("images/bgBlue.jpg") repeat;
}


.innerboxCircle1{
    background-color: white;
    border-radius: 50%;
    height: 90px;
    left: 80px;
    position: absolute;
    top: 10px;
    width: 90px;
}
.innerboxCircle2{
    background-color: white;
    border-radius: 50%;
    height: 90px;
    position: absolute;
    right: 10px;
    top: 80px;
    width: 90px
}
.innerboxCircle3{
    background-color: white;
    border-radius: 50%;
    bottom: 80px;
    height: 90px;
    left: 10px;
    position: absolute;
    width: 90px;
}
.innerboxCircle4{
    background-color: white;
    border-radius: 50%;
    bottom: 10px;
    height: 90px;
    position: absolute;
    right: 80px;
    width: 90px;
}
.bgGreen{
    background-color: #359437;
}
.bgRed{
    background-color: #B9201B;
}
.bgYellow{
    background-color: #F5EDC8;
}
.bgBlue{
    background-color: #193A8F;
}

.middle1, .middle2, .middle3{
    float: left;
    width: 53.33333333px;
    height: 320px;
}
.middleSqure{
    width: 53.33333333px;;
    height: 53.3333333px;
    border: 1px solid #964814;
    box-sizing: border-box;
}
.middleSectionLeft, .middleSectionRight{
    width: 320px;
    height: 160px;
    float: left;
}
.middleSectionMid{
    height: 160px;
    width: 160px;
    float: left;
}
.middleSquretop, .middleSquremid, .middleSqurebottom{
    width: auto;
    height: 53.33333333px;
} 

.middleSquretop> .middleSqure, .middleSquremid> .middleSqure, .middleSqurebottom> .middleSqure{
    float: left;
}
.middleSectionMid{
    border: 80px solid;
    border-color: #B9201B #193A8F #F5EDC8#359437;
    box-sizing: border-box;
}




